.container-main-promo {
    display: flex;
    flex-direction: column;
    margin: 5em;
    gap: 4em;
}

.card-promo-cont {
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 1.2em;
box-shadow: 0px 1px 25px 5px rgba(33,33,33,0.82);
}

.card-promo-cont:hover {

}

.card-promo-cont:nth-child(2) {
    flex-direction: row-reverse;
    
}

.card-promo-cont:nth-child(2)>img {
    border-radius: 1.2em 0 0 1.2em;
}

.text-info-gap {
    display: flex;
    flex-direction: column;
    gap: 0em;
}

.card-promo-cont>img {
    border-radius:  0 1.2em   1.2em 0;
    max-width: 70%;
}

.info-and-button {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.title-promo-cont {
    font-size:2em ;
    font-weight: bold;
    color: #212121;
}

.color-promo-cont {
    color: #FFB30E;
}

.description-promo-cont {
    font-size: 1em;
    color: #616161;
}

.button-promo-card {
    padding: 1.1em;
    color: #FFf;
    background: linear-gradient(to right, #FFB800, #FF8A00);
    border: none;
    font-weight: bold;
    margin-top: 3em;
    border-radius: 0.5em;
    cursor: pointer;
   box-shadow:  -1px 1px 16px -1px #FF8A00;
}

.modal-content-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    /* padding: 0.3em; */
}

.modal-img-promo img {
    max-width: 100%;
    display: flex;
    /* border-radius: 1em; */
}

.modal-text-promo {
    padding: 1.1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.counter-promo-modal {
    display: flex;
    gap: 0.3em;
    align-items: center;
}

.text-title-modal {
    font-size: 1.5em;
    color: #212121;
}

.text-description-modal {
    color: #616161;
    font-size: 0.8em;
}

.close-position {
    position: absolute;
    top: 10px;    
    right: 10px;
    font-size: 0.6em;
    color: #fff;
    background: #F17228;
    border: none;
    padding: 0.3em;
    border-radius: 50%;
}

.button-buy {
    padding: 0.7em;
    display: flex;
    justify-content: center;
    border: none;
    background: linear-gradient(to right, #ffbb00, #F17228);
    border-radius: 0.5em;
    color: #fff;
    font-weight: bold;
}

.button-count {
    display: flex;
    align-items: center;
    background: none;
    gap: 0.4em;
    border: none;
}

@media (max-width: 1024px) {
    .card-promo-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-promo-cont>img {
        max-width: 100%;
        border-radius: 0  0 1.2em 1.2em;
    }
    .card-promo-cont:nth-child(2)>img {
    border-radius:  0 0  1.2em 1.2em;
}
}