.cont-work-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 307px;
    gap: 0.5em;
}

.work-title {
    font-size: 1.4em ;
    color: #434343;
}

.work-description {
    font-size: 1.1em ;
    color: #9E9E9E;
}