

dialog {
    border: 1px solid gray;
    border-radius: 0.5em;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}



button:hover {
    box-shadow: 0 8px 18px #757575;
}


