.main-section {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 0; 
    left: 0; 
    right: 0;
    width: 100%; 
    z-index: 1000; 
    height: 80px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.food-wagon {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.food-wagon>p {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.color-food-p {
    color: #F17228;
}

.color-wagon-p {
    color: #FFB30E;
}

.location-foodwagon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    color: #424242;
    
}

.text-bold-deliver {
    font-weight: bold;
}

.location-icon {
    color: #FFB30E;
}

.href-header-location {
    text-decoration: none;
    color: #424242;
    font-weight: bold;
    cursor: pointer;
}

.href-header-location:hover {
    color: black;
}

.login-and-bascet {
    display: flex;
    align-items: center;
    gap: 0.9em;
    color: #F17228;
}

.bascet-icon {
    font-size: 1.6em;
}

.login-and-bascet>button {
    display: flex;
    font-weight: bold;
    font-size: 0.9em;
    color: #FF8A00;
    padding: 1em 1.8em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 10px #FFB800;
    transition: 0.25s ease;
    gap: 0.3em;
}

.login-and-bascet>button:hover {
    transform: translateY(1px);
    box-shadow: 0 8px 18px #FFB800;
    background-color: #FFF4D1;
}

.bascet-position-relative {
    display: flex;
    position: relative;
}

.bascet-position-absolute {
    display: flex;
    position:absolute;
    background: #fff;
    border: 1px solid #FF8A00;
    color: #F17228;
    font-weight: bold;
    top: 0.5em;
    left: 1em;
    padding: 1px 6px ;
    border-radius: 50%;
}

@media (max-width: 820px) {
    .location-foodwagon {
        display: none;
    }
}