.main-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.food-wagon {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.food-wagon>p {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.color-food-p {
    color: #F17228;
}

.color-wagon-p {
    color: #FFB30E;
}

.location-foodwagon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    color: #424242;
    
}

.text-bold-deliver {
    font-weight: bold;
}

.location-icon {
    color: #FFB30E;
}

.href-header-location {
    text-decoration: none;
    color: #424242;
    font-weight: bold;
    cursor: pointer;
}

.href-header-location:hover {
    color: black;
}

.login-and-bascet {
    display: flex;
    align-items: center;
    gap: 0.9em;
    color: #F17228;
}

.bascet-icon {
    font-size: 1.6em;
}

.login-and-bascet>button {
    display: flex;
    font-weight: bold;
    font-size: 0.9em;
    color: #FF8A00;
    padding: 1em 1.8em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 10px #FFB800;
    transition: 0.25s ease;
    gap: 0.3em;
}

.login-and-bascet>button:hover {
    transform: translateY(1px);
    box-shadow: 0 8px 18px #FFB800;
    background-color: #FFF4D1;
}

@media (max-width: 820px) {
    .location-foodwagon {
        display: none;
    }
}