.card {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-bottom: 0.3em;
}

.card img {
    border-radius: 18px;
}

.custom-swiper {
    display: flex;
    margin: 5em;
    margin-top: 4em ;
    margin-bottom: 2em ;
    margin-left: 6em ;
    margin-right: 6em;
    border-radius: 10px;
}

.slider-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 2em;
    margin-top: 3em;
}

.button-slider {
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 0.4em;
    padding: 1em 0.5em;
    background-color: #F17228;
    box-shadow: 0 1px 4px #F17228;
}


.swiper-button-prev, .swiper-button-next {
    background-color: #FFB20E;
    box-shadow: 0 5px 12px  #FFB20E;
    display: flex;
    align-items: center;
    font-size: 0.1em;
    font-weight: bold;
    padding: 3em;
    border-radius: 50%;
    color: #fff;
}

.title-swiper {
    color: #424242;
    font-size: 1.2em;
    font-weight: bold;
}

.location-swiper {
    color: #FFB30E;
    font-size: 1em;
}

.price-swiper {
    color: #212121;
    font-weight: bold;
    
}