.find-form-main {
    background-image: url('/public/bacgroundBurger.png');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.form--find-food {
    box-sizing: border-box;
    padding: 5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

h2 {
    font-size: 6em;
    color: #fff;
    font-weight: bold;
}

.text-under-h2 {
    font-size: 1.4em;
    color: #504f4f;
}

.form-find {
    display: flex;
    max-width: 70%;
    background: #fff;
    flex-direction: column;
    border-radius: 0.9em;
}


.span-deliveri {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 1.5em;
    cursor: pointer;
}

.span-deliveri p {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.9em 1.5em;
    border-radius: 0.5em;
    color: #757575;
    gap: 0.3em;
}

.span-deliveri p.active {
    color: #F17228;
    background: rgba(247, 114, 40, 0.1);

}

.span-deliveri p:hover {
    transform: translateY(-1px);
}

.form-input form {
    display: flex;
    padding: 1.5em;
    gap: 0.7em;
}

.form-input input {
    padding: 15px 16px;
    border-radius: 0.5em;
    border: none;
    background-color: #F5F5F5;
    color: black;
    font-size: 1em;
    width: 100%;
}

.form-input button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 48px;
    width: 30%;
    gap: 0.5em;
    color: #fff;
    background: linear-gradient(to right, #FF7A7A, #F65900);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.form-input button:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 18px #F17228;
    background-color: #FFF4D1;
}

@media (max-width:900px) {
    h2 {
        font-size: 4em;
    }
}

@media (max-width:680px) {
    h2 {
        font-size: 2em;
    }

    .text-under-h2 {
        font-size: 1em;
    }

    .span-deliveri p {
        font-size: 0.5em;
        padding: 0.5em;
    }

    .form-input button {
        padding: 0.5em;
        font-size: 0.1em;
    }

    .form-input input {
        padding: 0.4em;
        font-size: 0.1em;
    }
}